http_interactions:
- request:
    method: get
    uri: https://api.nasa.gov/EPIC/api/natural?api_key=<NASA_API_KEY>
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
      x-api-umbrella-request-id: clka9bfdq54v8n4tcqi0
      x-ratelimit-limit: '2000'
      x-ratelimit-remaining: '1662'
      x-vcap-request-id: 009c6a7a-9502-4621-54b3-9b515271be3b
    body:
      encoding: ''
      file: no
      string: '[{"identifier":"20250315004554","caption":"This image was taken by
        NASA''s EPIC camera onboard the NOAA DSCOVR spacecraft","image":"epic_1b_20250315004554","version":"03","centroid_coordinates":{"lat":4.182129,"lon":174.851074},"dscovr_j2000_position":{"x":1542228.979765,"y":-33716.808186,"z":109126.077027},"lunar_j2000_position":{"x":-402625.415367,"y":-14880.048794,"z":-10340.661194},"sun_j2000_position":{"x":148032532.799992,"y":-13476018.236077,"z":-5842669.532035},"attitude_quaternions":{"q0":-0.03094,"q1":0.27695,"q2":0.96017,"q3":0.02026},"date":"2025-03-15
        00:41:06","coords":{"centroid_coordinates":{"lat":4.182129,"lon":174.851074},"dscovr_j2000_position":{"x":1542228.979765,"y":-33716.808186,"z":109126.077027},"lunar_j2000_position":{"x":-402625.415367,"y":-14880.048794,"z":-10340.661194},"sun_j2000_position":{"x":148032532.799992,"y":-13476018.236077,"z":-5842669.532035},"attitude_quaternions":{"q0":-0.03094,"q1":0.27695,"q2":0.96017,"q3":0.02026}}},{"identifier":"20250315023357","caption":"This
        image was taken by NASA''s EPIC camera onboard the NOAA DSCOV[...]
