http_interactions:
- request:
    method: get
    uri: https://api.nasa.gov/neo/rest/v1/feed?start_date=2023-01-01&end_date=2023-01-02&api_key=<NASA_API_KEY>
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
      x-api-umbrella-request-id: clka9btukjc90vjrkv7g
      x-ratelimit-limit: '2000'
      x-ratelimit-remaining: '1661'
      x-vcap-request-id: b7c2ad3e-bad3-49c4-7ed7-e496b87db003
    body:
      encoding: ''
      file: no
      string: '{"links":{"next":"http://api.nasa.gov/neo/rest/v1/feed?start_date=2023-01-02&end_date=2023-01-03&detailed=false&api_key=<NASA_API_KEY>","previous":"http://api.nasa.gov/neo/rest/v1/feed?start_date=2022-12-31&end_date=2023-01-01&detailed=false&api_key=<NASA_API_KEY>","self":"http://api.nasa.gov/neo/rest/v1/feed?start_date=2023-01-01&end_date=2023-01-02&detailed=false&api_key=<NASA_API_KEY>"},"element_count":38,"near_earth_objects":{"2023-01-01":[{"links":{"self":"http://api.nasa.gov/neo/rest/v1/neo/2385186?api_key=<NASA_API_KEY>"},"id":"2385186","neo_reference_id":"2385186","name":"385186
        (1994 AW1)","nasa_jpl_url":"https://ssd.jpl.nasa.gov/tools/sbdb_lookup.html#/?sstr=2385186","absolute_magnitude_h":17.64,"estimated_diameter":{"kilometers":{"estimated_diameter_min":0.7880521833,"estimated_diameter_max":1.7621382518},"meters":{"estimated_diameter_min":788.0521833356,"estimated_diameter_max":1762.1382517555},"miles":{"estimated_diameter_min":0.4896727732,"estimated_diameter_max":1.0949416076},"feet":{"estimated_diameter_min":2585.4731251747,"estimated_diameter_max":5781.2936618894}},"is_potentially_hazardous_asteroid":true,"close_approach_data":[{"close_approach_date":"2023-01-01","close_approach_date_full":"2023-Jan-01
        19:45","epoch_date_close_approach":1672602300000,"relative_velocity":{"kilometers_per_second":"12.9241938417","kilometers_per_hour":"46527.0978301312","miles_per_hour":"28910.1292045057"},"miss_distance":{"astronomical":"0.2232885314","lunar":"86.8592387146","kilometers":"33403488.692868118","miles":"20755965.4068433084"},"orbiting_body":"Earth"}],"is_sentry_object":false},{"links":{"self":"http://api.nasa.gov/neo/rest/v1/neo/2453309?api_key=<NASA_API_KEY>"},"id":"2453309","neo_reference_id":"2453309","name":"453309
        (2008 VQ4)","nasa_jpl_url":"https://ssd.jpl.nasa.gov/tools/sbdb_lookup.html#/?sstr=2453309","absolute_magnitude_h":19.51,"estimated_diameter":{"kilometers":{"estimated_diameter_min":0.3330849243,"estimated_diameter_max":0.744800533},"meters":{"estimated_diameter_min":333.0849242994,"estimated_diameter_max":744.8005330139},"miles":{"estim[...]
