http_interactions:
- request:
    method: get
    uri: https://api.nasa.gov/insight_weather/?ver=1&feedtype=json&api_key=<NASA_API_KEY>
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
      x-api-umbrella-request-id: clka9ammn715s0e0ppgg
      x-ratelimit-limit: '2000'
      x-ratelimit-remaining: '1665'
      x-vcap-request-id: a02890f2-d58d-42f6-7a85-9581a6dd7df8
    body:
      encoding: ''
      file: no
      string: "{\n  \"675\": {\n    \"AT\": {\n      \"av\": -62.314, \n      \"ct\":
        177556, \n      \"mn\": -96.872, \n      \"mx\": -15.908\n    }, \n    \"First_UTC\":
        \"2020-10-19T18:32:20Z\", \n    \"HWS\": {\n      \"av\": 7.233, \n      \"ct\":
        88628, \n      \"mn\": 1.051, \n      \"mx\": 22.455\n    }, \n    \"Last_UTC\":
        \"2020-10-20T19:11:55Z\", \n    \"Month_ordinal\": 10, \n    \"Northern_season\":
        \"early winter\", \n    \"PRE\": {\n      \"av\": 750.563, \n      \"ct\":
        887776, \n      \"mn\": 722.0901, \n      \"mx\": 768.791\n    }, \n    \"Season\":
        \"fall\", \n    \"Southern_season\": \"early summer\", \n    \"WD\": {\n      \"0\":
        {\n        \"compass_degrees\": 0.0, \n        \"compass_point\": \"N\", \n
        \       \"compass_right\": 0.0, \n        \"compass_up\": 1.0, \n        \"ct\":
        254\n      }, \n      \"1\": {\n        \"compass_degrees\": 22.5, \n        \"compass_point\":
        \"NNE\", \n        \"compass_right\": 0.382683432365, \n        \"compass_up\":
        0.923879532511, \n        \"ct\": 1\n      }, \n      \"10\": {\n        \"compass_degrees\":
        225.0, \n        \"compass_point\": \"SW\", \n        \"compass_right\": -0.707106781187,
        \n        \"compass_up\": -0.707106781187, \n        \"ct\": 8618\n      },
[...]
