http_interactions:
- request:
    method: get
    uri: https://api.nasa.gov/mars-photos/api/v1/manifests/curiosity?api_key=<NASA_API_KEY>
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"3de1772cececb6885bc8cc8d5579d013"
      x-api-umbrella-request-id: clka9aribjkdnuos4as0
      x-ratelimit-limit: '2000'
      x-ratelimit-remaining: '1665'
      x-vcap-request-id: ee37ba5b-a6bf-4ec7-51ed-9c510aeb72d5
    body:
      encoding: ''
      file: no
      string: '{"photo_manifest":{"name":"Curiosity","landing_date":"2012-08-06","launch_date":"2011-11-26","status":"active","max_sol":4482,"max_date":"2025-03-16","total_photos":699659,"photos":[{"sol":0,"earth_date":"2012-08-06","total_photos":3702,"cameras":["CHEMCAM","FHAZ","MARDI","RHAZ"]},{"sol":1,"earth_date":"2012-08-07","total_photos":16,"cameras":["MAHLI","MAST","NAVCAM"]},{"sol":2,"earth_date":"2012-08-08","total_photos":74,"cameras":["NAVCAM"]},{"sol":3,"earth_date":"2012-08-09","total_photos":338,"cameras":["MAST"]},{"sol":10,"earth_date":"2012-08-16","total_photos":26,"cameras":["CHEMCAM","MAHLI","NAVCAM"]},{"sol":12,"earth_date":"2012-08-18","total_photos":32,"cameras":["CHEMCAM","NAVCAM"]},{"sol":13,"earth_date":"2012-08-19","total_pho[...]
- request:
    method: get
    uri: https://api.nasa.gov/mars-photos/api/v1/rovers/curiosity/photos?sol=1000&api_key=<NASA_API_KEY>
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"aa49af83c3599ca4f18badb58f374fc3"
      x-api-umbrella-request-id: clka9b3pu8dsuuksbbq0
      x-ratelimit-limit: '2000'
      x-ratelimit-remaining: '1664'
      x-vcap-request-id: a88c73d5-0d19-41ec-4fa0-90d627873701
    body:
      encoding: ''
      file: no
      string: '{"photos":[{"id":102693,"sol":1000,"camera":{"id":20,"name":"FHAZ","rover_id":5,"full_name":"Front
        Hazard Avoidance Camera"},"img_src":"http://mars.jpl.nasa.gov/msl-raw-images/proj/msl/redops/ods/surface/sol/01000/opgs/edr/fcam/FLB_486265257EDR_F0481570FHAZ00323M_.JPG","earth_date":"2015-05-30","rover":{"id":5,"name":"Curiosity","landing_date":"2012-08-06","launch_date":"2011-11-26","status":"active"}},{"id":102694,"sol":1000,"camera":{"id":20,"name":"FHAZ","rover_id":5,"full_name":"Front
        Hazard Avoidance Camera"},"img_src":"http://mars.jpl.nasa.gov/msl-raw-images/proj/msl/redops/ods/surface/sol/01000/opgs/edr/fcam/FRB_486265257EDR_F0481570FHAZ00323M_.JPG","earth_date":"2015-05-30","rover":{"id":5,"name":"Curiosity","landing_date":"2012-08-06","launch_date":"2011-11-26","status":"activ[...]
