http_interactions:
- request:
    method: get
    uri: https://images-api.nasa.gov/search?q=mars
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json
    body:
      encoding: ''
      file: no
      string: '{"collection":{"version":"1.1","href":"http://images-api.nasa.gov/search?q=mars","items":[{"href":"https://images-assets.nasa.gov/image/NHQ201905310045/collection.json","data":[{"center":"HQ","date_created":"2019-05-31T00:00:00Z","description":"The
        Mars celebration Friday, May 31, 2019, in Mars, Pennsylvania. NASA is in the
        small town to celebrate Mars exploration and share the agency’s excitement
        about landing astronauts on the Moon in five years. The celebration includes
        a weekend of Science, Technology, Engineering, Arts and Mathematics (STEAM)
        activities. Photo Credit: (NASA/Bill Ingalls)","keywords":["Mars","Mars Celebration","Pennsylvania"],"location":"Mars,
        PA, USA","media_type":"image","nasa_id":"NHQ201905310045","photographer":"NASA/Bill
        Ingalls","title":"Mars Celebration"}],"links":[{"href":"https://images-assets.nasa.gov/image/NHQ201905310045/NHQ201905310045~medium.jpg","rel":"alternate","render":"image","width":1280,"size":108000,"height":853},{"href":"https://images-assets.nasa.gov/image/NHQ201905310045/NHQ201905310045~small.jpg","rel":"alternate","render":"image","width":640,"size":33000,"height":426},{"href":"https://images-assets.nasa.gov/image/NHQ201905310045/NHQ201905310045~thumb.jpg","rel":"preview","render":"image","width":640,"size":33000,"height":426},{"href":"https://images-assets.nasa.gov/image/NHQ201905310045/NHQ201905310045~large.jpg","rel":"alternate","render":"image","width":1920,"size":219000,"height":1280},{"hre[...]
